<form *ngIf="!loggedIn" class="form-inline" style="margin-bottom: auto">
    <input type="text" placeholder="Username" name="username" class="form-control mr-sm-2"
        [(ngModel)]="userName" (keyup.enter)="login()">
    <input type="password" placeholder="Password" name="password" class="form-control mr-sm-2"
        [(ngModel)]="password">
    <button type="submit" class="btn btn-success" (click)="login()">
        Sign in
    </button>

    <ng-content></ng-content>
</form>
<div *ngIf="failedLogin">
    Wrong username or password
</div>
<div *ngIf="loggedIn">
    User: <b>{{userName}}</b>
    <button type="submit" class="btn btn-success mx-sm-2" (click)="logout()">
        Logout
    </button>
</div>